{% extends "includes/layouts/base.njk" %}

{% block content %}
  <div class="container my-5">
    <h2 id="nowe-filmy" class="h5 my-4">Nowe Filmy na kanale Mativizo 🔥</h2>
    <div class="row">
      {% for video in collections.youtubeNewest %}
        <div class="col-12 col-md-6 col-lg-4 my-2">
          <div class="card w-100">
            <a href="https://www.youtube.com/watch?v={{ video.id }}">
              <img class="card-img-top" src="https://i.ytimg.com/vi/{{ video.id }}/maxresdefault.jpg" alt="{{ video.title }}">
            </a>
            <div class="card-body">
              <p>
                <span class="badge badge-primary bg-danger">Phasmophobia</span>
                <span class="badge badge-primary bg-primary">Ale to PRL</span>
                <span class="badge badge-primary bg-warning">Seria</span>
              </p>
              <h5 class="card-title">{{ video.title }}</h5>
              <p class="card-text">{{ video.description }}</p>
              <a href="https://www.youtube.com/watch?v={{ video.id }}" class="btn btn-danger">Obejrzyj na YouTube</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <section id="serie" class="container my-5">
    {% include "includes/parts/series.njk" %}    
  </section>

  

  <section id="poradniki" class="container my-5">
    {% include "includes/parts/tutorials.njk" %}      
  </sectionn>

  <section id="osiagniecia" class="bsb-timeline-1 my-5">
    {% include "includes/parts/timeline.njk" %}
  </section>

  <section id="wspolpraca">
    <h3 class="text-center text-primary">Współpraca</h3>
    <p>Przez czas istnienia kanału Mativizo, współpracowałem z wieloma innymi kanałami. Poniżej znajdziesz niektóre z nich!</p>
  </section>

{% endblock %}