{% extends "includes/layouts/base.njk" %}

{% block content %}
  <div class="container my-5">
    <h2 id="nowe-filmy" class="h5 my-4">Nowe Filmy na kanale Mativizo 🔥</h2>
    <div class="row">
      {% for video in collections.youtubeNewest %}
        <div class="col-12 col-md-6 col-lg-4 my-2">
          <div class="card w-100">
            <a href="https://www.youtube.com/watch?v={{ video.id }}">
              <img class="card-img-top" src="https://i.ytimg.com/vi/{{ video.id }}/maxresdefault.jpg" alt="{{ video.title }}">
            </a>
            <div class="card-body">
              <p>
                <span class="badge badge-primary bg-danger">Phasmophobia</span>
                <span class="badge badge-primary bg-primary">Ale to PRL</span>
                <span class="badge badge-primary bg-warning">Seria</span>
              </p>
              <h5 class="card-title">{{ video.title }}</h5>
              <p class="card-text">{{ video.description }}</p>
              <a href="https://www.youtube.com/watch?v={{ video.id }}" class="btn btn-danger">Obejrzyj na YouTube</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <section id="serie" class="container my-5">
    {% include "includes/parts/series.njk" %}    
  </section>

  

  <section id="poradniki" class="container my-5">
    {% include "includes/parts/tutorials.njk" %}      
  </sectionn>

  <section id="osiagniecia" class="bsb-timeline-1 my-5">
    {% include "includes/parts/timeline.njk" %}
  </section>

  <section id="wspolpraca" class="container-fluid p-2">
    <h3 class="text-center text-primary">Współpraca</h3>
    <p class="text-center">Przez czas istnienia kanału Mativizo, współpracowałem z wieloma innymi kanałami. Poniżej znajdziesz niektóre z nich!</p>

    <div class="row">

      {% for user in collections.wspolpraca %}
      <div class="col-12 col-lg-6">

        <section class="bsb-author-2">
          <div class="row justify-content-center">
              <div class="card p-2 border-none">
                <div class="row gy-3 align-items-start">
                  <div class="col-md-4">
                    <a href="https://youtube.com/{{ user.channel }}" class="bsb-hover-image d-block rounded overflow-hidden">
                      <img class="img-fluid author-avatar bsb-scale bsb-hover-scale-up w-100 rounded-circle border border-3 border-primary" loading="lazy" src="{{ user.icon }}" alt="{{ user.name }}">
                    </a>
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h6 class="card-subtitle mb-2 text-body-secondary">{{ user.title }}</h6>
                      <h3 class="card-title mb-2">
                        <a class="card-link link-dark text-decoration-none" href="https://youtube.com/{{ user.channel }}">{{ user.name }}</a>
                      </h3>
                      <p class="card-text mb-3">{{ user.description | safe }}</p>
                      <ul class="bsb-social-media nav m-0">
                        <li class="nav-item">
                          <a class="btn btn-danger" href="https://youtube.com/{{ user.channel}}">
                            Sprawdź na 
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-youtube" viewBox="0 0 16 16">
                              <path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z" />
                            </svg>
                          </a>
                          <a class="btn btn-dark" href="https://youtube.com/{{ user.channel}}?sub_confirmation=1">
                            Subskrybuj
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-youtube" viewBox="0 0 16 16">
                              <path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z" />
                            </svg>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      {% endfor %}
    </div>

    <div class="alert bg-special-1 p-3">
      <p class="h4">Psssst!</h4>
      <p>Jeżeli masz propozycję współpracy zapraszam Cię do podstrony <a href="/kontakt">KONTAKT</a>. Znajdziesz tam więcej informacji na temat tego, jak się ze mną skontaktować i gdzie to zrobić!
    </div>
  </section>

{% endblock %}

