<!DOCTYPE html>
<html lang="pl" data-bs-theme="dark">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ title }}</title>

  <!-- SEO Meta Tags -->
  <meta name="description"
    content="{{ description }}">
  <meta name="keywords"
    content="mativizo,phasmophobia,obsideo,euro truck simulator 2,niewidomy youtuber,niewidomy influencer,mtvz">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://mativizo.github.io/youtube-mativizo">
  <meta property="og:title" content="Mativizo | Najlepszy Niewidomy YouTuber w całej Galaktyce 🪐">
  <meta property="og:description"
    content="Poradniki i Gameplaye z Phasomphobia, Euro Truck Simulator 2, Obsideo, Demonologist.">
  <meta property="og:image" content="Your OG image URL here">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="Your website URL here">
  <meta property="twitter:title" content="Your Title Here">
  <meta property="twitter:description" content="Your description here">
  <meta property="twitter:image" content="Your Twitter image URL here">

  <!-- CSS -->
  <link rel="stylesheet" href="https://bootswatch.com/5/cyborg/bootstrap.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Caveat:wght@400..700&family=Gluten:wght@100..900&family=Oswald:wght@200..700&family=Righteous&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.4/tutorials/timelines/timeline-1/assets/css/timeline-1.css">

  <style>
  html, body {
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-style: normal;
  }

  .text-upper {
    text-transform: uppercase;
  }

  .text-italic {
    font-style: italic;
  }

    .bg-darker {
      background-color: #111;
    }
    .bg-special-1 {
      background: rgb(2,0,36);
background: linear-gradient(53deg, rgba(2,0,36,1) 4%, rgba(0,0,22,1) 40%, rgba(11,150,179,1) 100%);
    }

    .bg-main {
      background: rgb(0,0,22);
      background: linear-gradient(53deg, rgba(0,0,11,1) 35%, rgba(1,0,18,1) 62%, rgba(12,35,66,1) 100%);
    }

    .card {
      background-color: #050522;
    }
  </style>
</head>

<body data-bs-theme="dark" class="bg-main">
  <nav class="navbar navbar-expand-lg navbar-dark bg-special-1 px-3 fixed-top">
    <a class="navbar-brand" href="#">Mativizo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#nowe-filmy">Nowe Filmy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#serie">Serie</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#osiagniecia">Osiągnięcia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#poradniki">Poradniki</a>
        </li>
        
        
        
        <li class="nav-item">
          <a class="nav-link" href="https://mtvz.pl/site/youtube">YouTube 🎬</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://mtvz.pl/site/tiktok">TikTok 🎵</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://mtvz.pl/site/patronite">Patronite 🔥</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://instagram.com/matidziad">Instagram 📸</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown link
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <div class="mt-4 p-5 text-white rounded text-center">
    <h1 class="h4 text-italic text-uppercase">{{ title }}</h1>
    <p class="my-4 w-50 m-auto">{{ description }}</p>
    <a class="btn btn-danger btn-sm m-2" href="https://mtvz.pl/site/youtube">Subskrybuj na YouTube</a>
    <a class="btn btn-dark btn-sm m-2" href="https://mtvz.pl/site/tiktok">Obserwuj na TikToku</a>
    <a class="btn btn-warning btn-sm m-2" href="https://mtvz.pl/site/patronite">Wspieraj na Patronite</a>
    <a class="btn btn-primary btn-sm m-2" href="https://instagram.com/matidziad">Obserwuj na Instagramie</a>
  </div>

  <div class="container-fluid">



    

    <div class="container mt-5">
      <h2 id="nowe-filmy" class="h5 my-4">Nowe Filmy na kanale Mativizo 🔥</h2>
      <div class="row">
        {% for video in collections.youtubeNewest %}
          <div class="col-4">
            <div class="card">
              <a href="https://www.youtube.com/watch?v={{ video.id }}">
                <img class="card-img-top" src="https://i.ytimg.com/vi/{{ video.id }}/maxresdefault.jpg" alt="{{ video.title }}">
              </a>
              <div class="card-body">
                <p>
                  <span class="badge badge-primary bg-danger">Phasmophobia</span>
                  <span class="badge badge-primary bg-primary">Ale to PRL</span>
                  <span class="badge badge-primary bg-warning">Seria</span>
                </p>
                <h5 class="card-title">{{ video.title }}</h5>
                <p class="card-text">{{ video.description }}</p>
                <a href="https://www.youtube.com/watch?v={{ video.id }}" class="btn btn-danger">Obejrzyj na YouTube</a>
            </div>
          </div>
        </div>
      {% endfor %}
        </div>
      </div>
    </div>

    <div class="container my-5">
      <h2>Serie filmów:</h2>
      <p>
          Tutaj znajdziesz wszystkie serie i ich statusy!
          Serie ze statusem <span class="badge badge-primary bg-primary">Trwająca</span> są nadal rozwijane.
          Serie ze statusem <span class="badge badge-primary bg-success">Zakończona</span> nie otrzymają nowych filmów.
          Serie ze statusem <span class="badge badge-primary bg-warning">Zawieszona</span> są tymczasowo wstrzymane i powrócą w przyszłości.
      </p>

      {% for series in collections.youtubeSeries %}

      <h3 id="serie" class="mt-5">{{ series.title }}</h3>
      <div class="row my-3">
        <div class="col-3">
          <div class="card">
            <div class="card-body">
              <h6 class="card-title">
                {{ series.title }}
              </h6>
              <p>
                {{ series.description }}
              </p>
              <a href="{{ series.playlist }}" class="btn btn-danger w-100">Oglądaj całą serię!</a> | 
            </div>
          </div>
        </div>

      {% for video in series.videos %}
        <div class="col-3">
          <div class="card">
            <a href="https://www.youtube.com/watch?v={{ video.id }}">
              <img class="card-img-top" src="https://i.ytimg.com/vi/{{ video.id }}/maxresdefault.jpg" alt="{{ video.title }}">
            </a>
            <div class="card-body">
              <h6 class="card-title">
                {{ video.title }}
              </h6>
              <a href="https://www.youtube.com/watch?v=2gGisWTgzFM" class="btn btn-danger">Oglądaj!</a> | 
              <a href="" class="text-primary">Playlista</a>
            </div>
          </div>
        </div>
        {% endfor %}
        </div>
        {% endfor %}
    </div>
  </div>

  <section class="bsb-timeline-1 py-5 py-xl-8">
    <div class="container">
      <h5 id="osiagniecia" class="text-center my-4">Osiągnięcia</h5>
      <div class="row justify-content-center">
        <div class="col-10 col-md-8 col-xl-6">

        <ul class="timeline">
          {% for tl in collections.timeline %}
            <li class="timeline-item">
              <div class="timeline-body">
                <div class="timeline-content">
                  <div class="card border-0">
                    <div class="card-body p-0">
                      <h5 class="card-subtitle text-secondary">
                        {{ tl.date }}
                      </h5>
                      <h2 class="card-title">
                        {{ tl.title }}
                      </h2>
                      <p class="card-text m-0">
                        {{ tl.description }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          {% endfor %}
          
          
          
          
                    
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </li>

        </ul>

      </div>
    </div>
  </div>
</section>

  <div class="container my-5">
    <h5 id="poradniki">Poradniki</h5>
    <div class="row">
      {% for game in collections.tutorials %}
        <div class="col-6">
          <ul class="list-group">
            <li class="list-group-item active bg-danger" aria-current="true">{{ game.title }}</li>
            {% for video in game.videos %}
              <li class="list-group-item">
                <img style="width: 60px;"src="https://i.ytimg.com/vi/{{ video.id }}/maxresdefault.jpg">
                <a href="https://youtube.com/watch?v={{ video.id }}">{{ video.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>
  </div>

  <!-- JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
</body>

</html>